.container {
  width: 800px;
  padding: 16px 0;
  margin: 0 auto;
}

.jumbotron {
  display: grid;
  grid-template: 'left right-top' auto 'left right-bottom' 50px / 240px auto;
  gap: 16px;

  gradient-picker {
    grid-area: left;
  }

  .preview {
    grid-area: right-top;
    border: 1px solid;
  }

  .preview-edit {
    grid-area: right-bottom;
  }
}
