<div class="container">
  <header>
    <h2>Gradient picker</h2>
  </header>

  <div class="jumbotron">
    <div class="picker-area">
      <gradient-picker [(ngModel)]="gradient" />
    </div>

    <div class="preview-bg" [style.background]="gradient"></div>

    <textarea
      class="preview-edit"
      [(ngModel)]="gradient"
      [ngModelOptions]="{ updateOn: 'blur' }"
    ></textarea>
  </div>

  <h2>Gradient picker in dropdown</h2>
  <div>
    @for (g of gradients; track $index) {
      <app-gradient-dropdown [value]="g" />
    }
  </div>
</div>
