.container {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    flex: 1;
  }

  a {
    display: inline-flex;
    color: inherit;
  }
}

.jumbotron {
  display: grid;
  grid-template: 'picker preview' 240px 'picker textarea' auto / 240px auto;
  gap: 0 16px;
}

@media (width < 600px) {
  .jumbotron {
    grid-template: 'preview' 240px 'textarea' auto 'picker' auto;
  }
}

.gradient-picker-wrapper {
  grid-area: picker;
}

.gradient-preview {
  grid-area: preview;
  border: 1px solid;
  border-radius: 8px 8px 0 0;
}

.gradient-text {
  grid-area: textarea;
  padding: 4px;
  margin: 0;
  border: 1px solid light-dark(rgba(0, 0, 0, 0.32), rgba(255, 255, 255, 0.32));
  border-radius: 0 0 8px 8px;
  resize: vertical;

  &:focus {
    outline: none;
    border-color: #0085f2;
    box-shadow: 0 0 0 3px rgba(0, 144, 237, 0.4);
  }
}

pre {
  padding: 16px;
  margin: 16px 0 32px;
  background-color: light-dark(#f1f1f1, #2d2d2d);
  border-radius: 8px;
  color: #858585;
  white-space: pre-wrap;
}

.theme-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  vertical-align: middle;
}
