details {
  margin: 16px 0;
}

.gradient-wrap {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 16px 0;
}

.gradient-preview {
  width: 400px;
  height: 200px;
  border: 1px solid;
}

textarea {
  width: 100%;
}
