<h2>Gradient stops</h2>

<gradient-stops [(colorStops)]="colorStops" (colorStopsChange)="onColorStopsChange($event)" />

<h2>Color picker</h2>

<gradient-colorpicker-toggle #toggle [for]="gc" [color]="color" />
<gradient-colorpicker #gc [(ngModel)]="color" />

<input type="text" [(ngModel)]="color" />

<button #btn (click)="gc.toggle()">open</button>

<h2>linear-gradient</h2>

<select [(ngModel)]="linearGradient">
  @for (lg of linearGradients; track $index) {
    <option [value]="lg">{{ lg || '--' }}</option>
  }
</select>

<div class="gradient-wrap">
  <linear-gradient-picker [(ngModel)]="linearGradient" />

  <div class="gradient-preview" [style.background]="linearGradient"></div>
</div>
{{ linearGradient }}

<h2>radial-gradient</h2>

<select [(ngModel)]="radialGradient">
  @for (rg of radialGradients; track $index) {
    <option [value]="rg">{{ rg || '--' }}</option>
  }
</select>

<div class="gradient-wrap">
  <radial-gradient-picker [(ngModel)]="radialGradient" />

  <div class="gradient-preview" [style.background]="radialGradient"></div>
</div>
{{ radialGradient }}

<h2>conic-gradient</h2>

<select [(ngModel)]="conicGradient">
  @for (cg of conicGradients; track $index) {
    <option [value]="cg">{{ cg || '--' }}</option>
  }
</select>

<div class="gradient-wrap">
  <conic-gradient-picker [(ngModel)]="conicGradient" />

  <div class="gradient-preview" [style.background]="conicGradient"></div>
</div>
{{ conicGradient }}
