<details>
  <summary>Gradients</summary>
  <pre>
    background: linear-gradient(#e66465, #9198e5);

    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);

    background:
      linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

    // =====

    background: radial-gradient(#e66465, #9198e5);

    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);

    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);

    background:
      radial-gradient(ellipse at top, #e66465, transparent),
      radial-gradient(ellipse at bottom, #4d9f0c, transparent);

    // =====

    background: conic-gradient(red, orange, yellow, green, blue);

    background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);

    background: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5);

    background: conic-gradient(red 6deg, orange 6deg 18deg, yellow 18deg 45deg, green 45deg 110deg, blue 110deg 200deg, purple 200deg);
  </pre>
</details>

<gradient-stops [colorStops]="colorStops" />

<h2>Color picker</h2>
<gradient-colorpicker [(ngModel)]="color" />
